.clean-font {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}

.jumbo-font {
    font-size: 63px;
}

.overflow-auto {
    overflow: auto;
}

.spacing {
    margin: 20px 0px;
}

.navbar-default {
    background-color: #8BC34A;
    border-color: #57960d;
}

.navbar-default .navbar-collapse, 
.containter-fluid {
    background-color: #8BC34A;
}

#myTabContent{
    overflow: auto;
    min-height: 400px;
    padding:10px;
}

.full-dim, .dimmer {
    width: 100%;
    background: rgba(230, 230, 230, 0.78);
    z-index: 999;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

img.media-object {
    width: 64px;
}

.center {
    margin: 25px auto;
    text-align: center;
}

.center-only {
    text-align: center;
}

.extend-body {
    height: 260px;
    overflow: scroll;
}

body {
    background: #f7f6f6;
}

#archives .thumbnail img {
    height: 95px;
}

#archives .thumbnail p {
    height: 40px;
    overflow: hidden;
}


@media only screen and (max-width: 768px) {
    #archives .thumbnail img {
        height: 160px;
    }
}



